<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_quiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="E Quiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Check_report"></activity>
        <activity android:name=".UserResult" />
        <activity android:name=".FAQ" />
        <activity android:name=".Boo" />
        <activity android:name=".Mangusr" />
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_main"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test" />
        <activity android:name=".aboutus" />
        <activity android:name=".reportus" />
        <activity android:name=".satting" />
        <activity android:name=".result" />
        <activity android:name=".books" />
        <activity android:name=".register" />
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>